.student_profile {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
  border-radius: 8px;
}
.student-profile{
  height:25vh;
  
}


.custom-text-color {
  color: #252C32;
}

.profile-image {
  display: inline-block;
  padding: 6px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.shadowed-profile-img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
}
.custom-text-color {
  color: #252C32 ;
}


